.game-keyboard {
    height: 200px;
    margin: 0 8px;
    user-select: none;

    .game-keyboard-row {
        display: flex;
        width: 100%;
        margin: 0 auto 8px;
        touch-action: manipulation;

        .game-keyboard-space {
            flex: .5;
        }

        .game-keyboard-key {
            font-size: 1.25em;
            font-weight: bold;
            border: 0;
            padding: 0;
            margin: 0 6px 0 0;
            height: 58px;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
            background-color: #d3d6da;
            color: $black;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            -webkit-tap-highlight-color: rgba(0,0,0,.3);
            transition: box-shadow $average ease;
    
            &:active {
                box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
            }

            &.correct {
                border: none;
                color: $white;
                background-color: $color-correct;
            }

            &.maybe {
                border: none;
                color: $white;
                background-color: $color-maybe;
            }

            &.wrong {
                border: none;
                color: $white;
                background-color: $color-wrong;
            }

            &.longer {
                flex: 1.5;
                font-size: 12px;
            }
        }
    }
}