/* Dimensions */
$header-height: 66px;

/* Theme */
$dark-theme-bg: #121213;
$dark-theme-grey: #3a3a3c;

/* Font Names */
$sans: "sans-serif",
"Helvetica",
"Arial";
$serif: "Serif";

/* Speeds */
$quick: .05s;
$fast: .15s;
$average: .3s;
$slow: .65s;
$slower: 1s;

/* Breakpoints */
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;

/* Global Colors */
$white: #ffffff;
$off-white: #efefef;
$black: #333333;
$off-black: #4a5358;
$grey: #8f8f8f;
$dark-grey: #58656c;
$blue: #137DBB;
$orange: #f1a800;
$color-correct: #6aaa64;
$color-maybe: #c9b458;
$color-wrong: #787c7e;
$color-border: #d3d6da;