/* Font Names */
$sans: "sans-serif",
"Helvetica",
"Arial";
$serif: "Serif";

/* Speeds */
$quick: .05s;
$fast: .15s;
$average: .3s;
$slow: .65s;
$slower: 1s;

/* Breakpoints */
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;

/* Global Colors */
$black: #333333;
$white: #ffffff;
