@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon/icomoon.eot?28tznr');
    src: url('/assets/fonts/icomoon/icomoon.eot?28tznr#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon/icomoon.ttf?28tznr') format('truetype'),
        url('/assets/fonts/icomoon/icomoon.woff?28tznr') format('woff'),
        url('/assets/fonts/icomoon/icomoon.svg?28tznr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
